@charset "utf-8";
/* CSS Document */

#content-upper-left {
	margin-left: 3%;
	width: 48% !important;
}

#content-upper-left img {
	margin-top: 3%;
	width: 100%;
	height: auto;
}

img.frontlight {
	width: 20%;
	height: auto;
}

img.backlight {
	width: 24%;
	height: auto;
}

img.adhesivo {
	width: 20%;
	height: auto;
}

#content-lema img {
	width: 75%;
	height: auto;
}