@charset "utf-8";
/* CSS Document */

html {
        /*height: 100%;*/
}

body {
        /*height: 100%;*/
        
        font-size:100%;
        font-family:verdana,arial,'sans serif';
        background: #FFFFF0 url("images/front_bg.png");
        background-repeat: repeat;
        
        /*background-color:#FFFFF0;*/
        color:#000080;
}

#wrap {
        min-width:  100%;
        min-height: 100%;
        
        padding: 0px;
        margin:  0px auto;
}

#content div {
        padding: 10px;
        /*border:  1px solid #bbb;*/
}

#content-upper-left {
/*      width: 25%;*/
        width: auto;
        height: 40%;

        max-width: 18%;
        max-height: 40%;
        
        float: left;
        overflow:visible;
}

#content-upper-left img {
        width: 100%;
        height:auto;
        /*max-height: 50%;
        width: auto;
        max-width:50%;*/
}

#content-upper-right1a {
	position:relative;
	top: 16px;

	width: 20%;
	float: right;

}

#content-upper-right1a img {
	width: 100%;
	height: auto;
}

#content-upper-right1b {
	padding: 5px !important;
	text-align: right;
	
	width: 12%;
	float: right;
}

#content-upper-right1b img {
	width: 50%;
	height: auto;
}

#content-upper-right2 {
	width:  43%;
	
	float: right;
	clear: right;
}

#content-upper-right2 img {
	width: 100%;
	height: auto;
}

/*.menu { 
	padding: 0px !important;
	margin: 0px !important;
	list-style:none; 
	/*position: relative;
}*/

/*.menu li { 
	position: relative;
	display:inline;

	transition: top 0.5s;
	-moz-transition: top 0.5s;
	-webkit-transition: top 0.5s;
	-o-transition: top 0.5s;

}*/
 
/*.menu li:hover {
	position: relative;
	top: -25px;
}*/

#content-lower {
	clear: both;
}

#content-lower img {
	width:  24%;
	height: auto;
	
	position: relative;
}

#content-lower img {
	/*transition: top 1s;
	-moz-transition: top 1s;
	-webkit-transition: top 1s;
	-o-transition: top 1s;*/
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
}

#content-lower img:hover {
	/*top: -25px;*/
	transform:translate(0px,-30px);
	-ms-transform:translate(0px,-30px); /* IE 9 */
	-moz-transform:translate(0px,-30px); /* Firefox */
	-webkit-transform:translate(0px,-30px); /* Safari and Chrome */
	-o-transform:translate(0px,-30px); /* Opera */
}