@charset "utf-8";
/* CSS Document */

html {
    /*height: 100%;*/
	/*background-color: #F2DE22;*/
}

body {
	/*height: 100%;*/
	margin: 0px;
	padding: 10px;
	
	font-size:100%;
	font-family:verdana,arial,'sans serif';
	background: #F2DE22 url("images/yellow_bg.png");
	background-repeat: repeat;

	color:#000080;
}

a img {
	border: none; 
}

#wrap {
	padding: 0px;
	margin:  0px auto;
}

#content div {
	padding: 10px;
	padding-bottom: 0px;
	/*border:  1px solid #bbb;*/
}

#logo {
	margin-right: 3%;
	width: 15%;
	height: auto;
	
	float: right;
}

#logo img {
	width: 100%;
	height:auto;
}

#content-upper-left {
	margin-left: 3%;
	width: 70%;
}

#content-upper-left img {
	width: 45%;
	height: auto;
}

#content-lower-menu {
	text-align: center;
	clear: both;
	widht: 100%;	
}

img.sobrepared {
	vertical-align: middle;
	width: 22%;
	height: auto;
}

img.sobreposte {
	vertical-align: middle;
	width: 23%;
	height: auto;
}

img.yaposeo {
	vertical-align: middle;
	width: 17%;
	height: auto;
}

#content-lower-menu img {
	/*transition: top 1s;
	-moz-transition: top 1s;
	-webkit-transition: top 1s;
	-o-transition: top 1s;*/
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
}

#content-lower-menu img:hover {
	/*top: -25px;*/
	transform:translate(0px,-30px);
	-ms-transform:translate(0px,-30px); /* IE 9 */
	-moz-transform:translate(0px,-30px); /* Firefox */
	-webkit-transform:translate(0px,-30px); /* Safari and Chrome */
	-o-transform:translate(0px,-30px); /* Opera */
}

#content-lema {
	text-align: center;
	clear: both;
}

#content-lema img {
	width: 50%;
	height: auto;
}