@charset "utf-8";
/* CSS Document */

#content-upper-left img {
	width: 30%;
	height: auto;
}

#content-upper-left img#back-arrow {
	position: relative;
	width: 5% !important;
	height: auto !important;
	vertical-align: top;
	margin-top: 4%;
}

/*#content-lower-menu {
	top: 25% !important;
}*/

img.sinluz {
	width: 27%;
	height: auto;
}

img.conluz {
	width: 27%;
	height: auto;
}

#content-lema img {
	width: 75%;
	height: auto;
}