@charset "utf-8";
/* CSS Document */

#content-upper-left img {
	width: 30%;
	height: auto;
}

#content-lower-menu {
	top: 22% !important;
}

img.sinmantenimiento {
	width: 28%;
	height: auto;
}

img.conmantenimiento {
	width: 28%;
	height: auto;
}

#content-lema img {
	width: 75%;
	height: auto;
}