@charset "utf-8";
/* CSS Document */

html {
    /*height: 100%;*/
	/*background-color: #F2DE22;*/
	background: #F2DE22 url("yellow_bg.png");
	background-repeat: repeat;
	overflow-x: hidden;
	overflow-y: hidden;
}

body {
	/*height: 100%;*/

	margin: 0px;
	padding: 10px;
	
	font-size:100%;
	font-family:verdana,arial,'sans serif';

	color:#000080;
	/*border:  1px solid blue;*/
}

a img {
	border: none; 
}

#progressbar {
	overflow: visible;

	position: absolute;
	left: 40%;
	top: 48%;
	width: 20%;	
	height: 11px;
	background: #CCC;

    border-radius: 8px;	
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

#progressbar img {
	position: absolute;
	left: 15%;
	bottom: 125%;
	
	width: 70%;
	height: auto;
}

#wrap {
	padding: 0px;

	/*margin:  0px auto;*/
	margin:  4% 10% 4% 10% !important;
}

#content {
	width: 100%;
	height: 100%;
	/*border:  1px solid red;*/
}

#content div {
	padding: 10px;
	padding-bottom: 0px;
	/*border:  1px solid #BBB;*/
}

.clear {
	clear:both;
	font-size:0px;
	height:0px;
}

#logo {
	margin-right: 3%;
	width: 15%;
	height: auto;
	
	float: right;
}

#logo img {
	width: 100%;
	height:auto;
}

#content-upper-left {
	margin-left: 3%;
	width: 70%;
}

#content-social-icons {
	padding: 5px !important;
	text-align: right;
	
	width: 10%;
	float: right;
}

#content-social-icons:hover img {
	opacity: 0.2;
}

#content-social-icons img {
	width: 50%;
	height: auto;
	
	-ms-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

#content-social-icons img:hover {
	opacity: 1;
	
	/*transform:translate(0px,-10px);*/
	-ms-transform:translate(0px,-10px); /* IE 9 */
	-moz-transform:translate(0px,-10px); /* Firefox */
	-webkit-transform:translate(0px,-10px); /* Safari and Chrome */
	-o-transform:translate(0px,-10px); /* Opera */
}

#content-lower-menu {
	/*background: red;*/
	/*width: 100%;*/

	width: 80%;
	height: auto;
	margin-left: 10%;
	margin-right: 10%;
	
	left: 1920px;
	clear: both;
	
	top: 35%;
	
	position: absolute;
	/*position: relative;*/
	text-align: center;
	
	/*margin-left: auto;
	margin-right: auto;*/	
}

#content-lower-menu img, #content-lower-menu2 img {
	-ms-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
}

#content-lower-menu img:hover, #content-lower-menu2 img:hover {
	/*transform:translate(0px,-30px);*/
	-ms-transform:translate(0px,-30px); /* IE 9 */
	-moz-transform:translate(0px,-30px); /* Firefox */
	-webkit-transform:translate(0px,-30px); /* Safari and Chrome */
	-o-transform:translate(0px,-30px); /* Opera */
}

#content-lema {
	/*width: 100%;*/
	width: 80%;
	height: auto;
	margin-left: 10%;
	margin-right: 10%;
	
	position: absolute;
	/*position: relative;*/
	
	left: 0px;
	
	/*top: 80%;*/
	bottom: 10%;
		
	text-align: center;
	clear: both;
	
/*	margin-left: auto;
	margin-right: auto;*/
	/*background: red;*/
}

img.separador_medio {
	width: 2%;
	height: auto;
	
	-ms-transition: all 0 ease 0 !important;
	-moz-transition: all 0 ease 0 !important;
	-webkit-transition: all 0 ease 0 !important;
	-o-transition: all 0 ease 0 !important;
}

img.separador_medio:hover {
	/*transform: none !important;*/
	-ms-transform: none !important; /* IE 9 */
	-moz-transform: none !important; /* Firefox */
	-webkit-transform: none !important; /* Safari and Chrome */
	-o-transform: none !important; /* Opera */	
}