@charset "utf-8";
/* CSS Document */

#main-logo {
	width: auto;
	height: 40%;

	max-width: 18%;
	max-height: 40%;
	
	float: left;
	overflow:visible;
}

#main-logo img {
	width: 100%;
	height:auto;
}

#content-upper-right1a {
	position:relative;
	top: 16px;

	width: 20%;
	float: right;
}

#content-upper-right1a img {
	width: 100%;
	height: auto;
}

#content-upper-right1b {
	padding: 5px !important;
	text-align: right;
	
	width: @0%;
	float: right;
}

#content-upper-right1b img {
	width: 40%;
	height: auto;
}

#content-upper-right2 {
	text-align: right;
	width:  43%;
	
	float: right;
	clear: right;
}

#content-upper-right2 img {
	width: 100%;
	height: auto;
}

#content-lower-menu {
	top: 45% !important;
}

#content-lower-menu img {
	width:  24%;
	height: auto;
}