@charset "utf-8";
/* CSS Document */

html {
    /*height: 100%;*/
	/*background-color: #F2DE22;*/
	background: #F2DE22 url("images/yellow_bg.png");
	background-repeat: repeat;
}

body {
	/*height: 100%;*/
	margin: 0px;
	padding: 10px;
	
	font-size:100%;
	font-family:verdana,arial,'sans serif';
	/*background: #F2DE22 url("images/yellow_bg.png");
	background-repeat: repeat;*/

	color:#000080;
}

a img {
	border: none; 
}

#wrap {
	min-width:  100%;
	min-height: 100%;
	
	padding: 0px;
	margin:  0px auto;
}

#content div {
	padding: 10px;
	padding-bottom: 0px;
	/*border:  1px solid #bbb;*/
}

#logo {
	/*width: 25%;*/
	width: auto;
	height: 40%;

	max-width: 18%;
	max-height: 40%;
	
	float: left;
	overflow:visible;
}

#logo img {
	width: 100%;
	height:auto;
	/*max-height: 50%;
	width: auto;
	max-width:50%;*/
}

#content-upper-right1a {
	position:relative;
	top: 16px;

	width: 20%;
	float: right;
}

#content-upper-right1a img {
	width: 100%;
	height: auto;
}

#content-upper-right1b {
	padding: 5px !important;
	text-align: right;
	
	width: 12%;
	float: right;
}

#content-upper-right1b img {
	width: 50%;
	height: auto;
}

#content-upper-right2 {
	width:  43%;
	
	float: right;
	clear: right;
}

#content-upper-right2 img {
	width: 100%;
	height: auto;
}

#content-lower {
	/*background: red;*/
	width: 96%;
	/*left: 2%;
	right: 2%;*/
	clear: both;
	top: 45%;
	position: absolute;
	text-align: center;
	
	margin-left: auto;
	margin-right: auto;
}

#content-lower img {
	width:  24%;
	height: auto;
	
	/*position: relative;*/
}

#content-lower img {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
}

#content-lower img:hover {
	transform:translate(0px,-30px);
	-ms-transform:translate(0px,-30px); /* IE 9 */
	-moz-transform:translate(0px,-30px); /* Firefox */
	-webkit-transform:translate(0px,-30px); /* Safari and Chrome */
	-o-transform:translate(0px,-30px); /* Opera */
}
