@charset "utf-8";
/* CSS Document */

#content-form {
	/*background: red;*/
	text-align: center;

	width: 30%;
	height: 30%;
	
	position: absolute;
	top: 35%;
	right: 20%;
	
	float: right;
	
	border:  1px solid #888;
	border-radius: 15px;
	
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
}

#boton_ok {
	position: relative;
	top: 10px;
	width: 100%;
}